* {
    padding: 0;
    margin: 0;
}

img {
    object-fit: fill;
    position: absolute;
    right: 0px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100vh;
    z-index: -100;
    background-size: cover;
    overflow: hidden;
}

@font-face {
    font-family: 'MYRIADPRO';
    src: url('fonts/MYRIADPRO-SEMIBOLD.OTF');
    font-weight: regular;
}

.title {
    font-family: 'MYRIADPRO', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 36pt;
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

.highlight {
    color: #EB1C24;
}


.time {
    font-family: 'MYRIADPRO', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 72pt;
    color: white;
    display: block;
}

/* Responsive design */
@media only screen and (max-width: 768px) {
    .countdown {
        display: flex;
        justify-content: center;
        align-items: center;
        /* margin-bottom: 20px; */
        margin-top: 20%;
    }

    .time-section {
        text-align: center;
        margin: 0 45px;
    }
    
    .time {
        font-family: 'MYRIADPRO', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 72pt;
        color: white;
        display: block;
    }

    
    .title {
        font-size: 18pt;
    }

    .time {
        font-size: 80pt;
    }

    .faltan {
        font-size: 12pt;
    }

    .label {
        font-size: 12pt;
        margin: 0 10px;
    }
}



/* Responsive design */
@media only screen and (max-width: 1040px) {
    .countdown {
        display: flex;
        justify-content: center;
        align-items: center;
        /* margin-bottom: 20px; */
        margin-top: 18%;
    }

    .time-section {
        text-align: center;
        margin: 0 81px;
    }
    
    .time {
        font-family: 'MYRIADPRO', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 80pt;
        color: white;
        display: block;
    }

    
    .title {
        font-size: 18pt;
    }

    .faltan {
        font-size: 12pt;
    }

    .label {
        font-size: 12pt;
        margin: 0 10px;
    }
}


/* Responsive design */
@media only screen and (max-width: 800px) {
    .countdown {
        display: flex;
        justify-content: center;
        align-items: center;
        /* margin-bottom: 20px; */
        margin-top: 21%;
    }

    .time-section {
        text-align: center;
        margin: 0 46px;
    }
    
    .time {
        font-family: 'MYRIADPRO', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 80pt;
        color: white;
        display: block;
    }

    
    .title {
        font-size: 18pt;
    }

    .faltan {
        font-size: 12pt;
    }

    .label {
        font-size: 12pt;
        margin: 0 10px;
    }
}

